<nav class="flex justify-between items-center mx-auto my-8 p-2 border border-tony_stroke-100 rounded-full max-w-xl">
        <div class="ml-2">
            <a href="/index.html">
                <img src="/files/profile_pic.jpg" alt="Logo" class="h-8 w-8 rounded-full border border-sky-400 border-opacity-50 hover:border-opacity-100">
            </a>
        </div>
        <div class="flex mr-3">
            <a href="/about/index.html" class="text-tony_text-300 font-Raleway font-light text-sm pr-4 opacity-80 hover:opacity-100 transition-opacity duration-200">About Me</a>
            
            <a href="/Musings/index_file/index.html" class=" text-tony_text-300 font-Raleway font-light text-sm px-4  opacity-80 hover:opacity-100 transition-opacity duration-200">Musings</a>
        </div>
    </nav>