@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF; 
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

/* Used to main heading like the hero text in home page*/
h1 {
  @apply font-serif text-3xl text-slate-950  mb-1 tracking-wide;
}

/* Used for section headings*/
h2 {
  @apply font-sans text-lg font-medium text-slate-800  tracking-wide;
}

/* Used for heading or smaller paragraphs without bold*/
h3 {
  @apply font-sans text-base text-slate-700 tracking-wide leading-relaxed;
}

/* Used for heading or smaller paragraphs with bold*/
h4 {
  @apply font-sans text-sm font-medium text-slate-900  tracking-wide;
}

/* Used for secondary texts*/
h5 {
  @apply font-sans text-slate-600 ;
}

h6 {
  @apply font-sans font-light text-tony_text-300 text-sm tracking-wide;
}

/* Used for normal paragraphs*/
p {
  @apply font-sans text-sm font-normal text-slate-800 tracking-wider leading-loose;
}

strong {
  @apply text-tony_text-200;
}

li {
  @apply font-sans text-sm font-normal text-slate-800 tracking-wider leading-loose;
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.grayscale:hover {
  filter: grayscale(0%);
}
