@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


p {
    @apply font-Raleway text-sm font-normal text-tony_text-200 tracking-wider leading-loose;
}

li {
    @apply font-Raleway text-sm font-normal text-tony_text-200 tracking-wider leading-loose;
}

h1 {
    @apply font-Playfair text-2xl font-semibold text-tony_text-100 mb-1 tracking-wide;
}

h2 {
    @apply font-Raleway text-lg font-semibold text-tony_text-100 tracking-wide;
}

h3 {
    @apply font-Raleway text-base font-semibold text-tony_text-100 tracking-wide;
}

h4 {
    @apply font-Raleway text-sm font-semibold text-tony_text-100 tracking-wide;
}

h5 {
    @apply font-Raleway text-tony_text-300 tracking-wide ;
}

h6 {
    @apply font-Raleway font-light text-tony_text-300 text-sm tracking-wide ;
}


.grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.grayscale:hover {
    filter: grayscale(0%);
}

.counter {
    counter-reset: item;
}

.counter li {
    display: flex;
}

.counter li::before {
    counter-increment: item;
    content: counters(item, ".") ". ";
    margin-right: 5px;
}